<mat-tab-group class="tab" dynamicHeight>


  <mat-tab label="Propuesta de Valor">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="assets/casaAFotor.jpg" class="backImage" alt="casa abierta photo">
      </mat-card-content>
    <div class="row">
      <div class="col mat-elevation-z8">
      <mat-card>
        <mat-card-content>
          <img mat-card-image src="assets/somos.jpg" class="imageHome" alt="somos">
        </mat-card-content>
        <mat-card-title>
          Quienes somos?
        </mat-card-title>
        <mat-card-content>
          Somos una empresa dedicada a la capacitación de estudiantes universitarios directamente en el mercado laboral.
        </mat-card-content>
      </mat-card>
      </div>

      <div class="col mat-elevation-z8">
        <mat-card>
          <mat-card-content>
            <img mat-card-image src="assets/hacemos.jpg" class="imageHome" alt="hacemos">
          </mat-card-content>
          <mat-card-title>
            Que hacemos?
          </mat-card-title>
          <mat-card-content>
            Nos dedicamos a crear un vinculo entre el mercado laboral y los prospectos universitarios que buscan adquirir experiencia laboral.
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col mat-elevation-z8">
        <mat-card>
          <mat-card-content>
            <img mat-card-image src="assets/vamos.jpg" class="imageHome" alt="vamos">
          </mat-card-content>
          <mat-card-title>
            Para donde vamos?
          </mat-card-title>
          <mat-card-content>
            Ser una organización lider en la facilitación de experiencia laboral y asistencia a estudiantes universitarios en la creación de su perfil profesional.
          </mat-card-content>
        </mat-card>
      </div>

    </div>




    </mat-card>

  </mat-tab>


  <mat-tab label="Historias de Exito">

      <head>
        <!-- Material Design Lite -->
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-orange.min.css">
        <!-- Material Design icon font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      </head>

      <body>
      <!-- Square card -->

      <mat-card  class="mdl-card mdl-shadow--2dp demo-card-square">
        <mat-card-header >
          <p>
            <img mat-card-image src="assets/nilzon.jpg" class="mdl-card--expand image" alt="Sponsor photo">
          </p>
        </mat-card-header>
        <mat-card-content class="mdl-card__supporting-text supportText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </mat-card-content>
        <mat-card-actions class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Nilzon Ponce
          </a>
        </mat-card-actions>

      </mat-card>


      <!-- Square card -->
      <mat-card  class="mdl-card mdl-shadow--2dp demo-card-square">
        <mat-card-header >
          <p>
            <img mat-card-image src="assets/jimmy.jpg" class="mdl-card--expand image" alt="Sponsor photo">
          </p>
        </mat-card-header>
        <mat-card-content class="mdl-card__supporting-text supportText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </mat-card-content>
        <mat-card-actions class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Gabriel Castro
          </a>
        </mat-card-actions>

      </mat-card>
      <!-- Square card -->
      <mat-card  class="mdl-card mdl-shadow--2dp demo-card-square">
        <mat-card-header >
          <p>
            <img mat-card-image src="assets/roger.jpg" class="mdl-card--expand image" alt="Sponsor photo">
          </p>
        </mat-card-header>
        <mat-card-content class="mdl-card__supporting-text supportText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </mat-card-content>
        <mat-card-actions class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Paola Claros
          </a>
        </mat-card-actions>

      </mat-card>
      <!-- Square card -->
      <mat-card  class="mdl-card mdl-shadow--2dp demo-card-square">
        <mat-card-header >
          <p>
            <img mat-card-image src="assets/gustavo.jpg" class="mdl-card--expand image" alt="Sponsor photo">
          </p>
        </mat-card-header>
        <mat-card-content class="mdl-card__supporting-text supportText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </mat-card-content>
        <mat-card-actions class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Camila Martinez
          </a>
        </mat-card-actions>

      </mat-card>
      <!-- Square card -->
      <mat-card  class="mdl-card mdl-shadow--2dp demo-card-square">
        <mat-card-header >
          <p>
            <img mat-card-image src="assets/pedro.jpg" class="mdl-card--expand image" alt="Sponsor photo">
          </p>
        </mat-card-header>
        <mat-card-content class="mdl-card__supporting-text supportText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </mat-card-content>
        <mat-card-actions class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Pedro Valenzuela
          </a>
        </mat-card-actions>

      </mat-card>
      <!-- Square card -->
      <mat-card  class="mdl-card mdl-shadow--2dp demo-card-square">
        <mat-card-header >
          <p>
            <img mat-card-image src="assets/luisa.jpg" class="mdl-card--expand image" alt="Sponsor photo">
          </p>
        </mat-card-header>
        <mat-card-content class="mdl-card__supporting-text supportText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        </mat-card-content>
        <mat-card-actions class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            Luisa Calderon
          </a>
        </mat-card-actions>

      </mat-card>
      </body>

  </mat-tab>
  <mat-tab label="Socios Clave">

    <head>
      <!-- Material Design Lite -->
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-orange.min.css">
      <!-- Material Design icon font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
    <!-- Square card -->

    <mat-card  class="mat-elevation-z8 card" *ngFor="let job of jobs">

      <mat-card-content>
        <p>
          <img mat-card-image [src]="job.sponsorLogo"  class="image" alt="Sponsor photo">
        </p>
        </mat-card-content>
    </mat-card>

    </body>
  </mat-tab>

  <mat-tab label="Contacto">


      <div class="backImage" id="social-platforms">
        <h1>Encuentranos en nuestras redes sociales!</h1>

        <a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        <a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>

      </div>


  </mat-tab>

</mat-tab-group>
