<div>

  <mat-card class="allignCenter mat-elevation-z8">
    <div class="example-container">
      <mat-card-title >
        Iniciar Sesión
      </mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/casaAFotor.jpg" class="image" alt="casa abierta photo">
      </mat-card-content>
      <mat-form-field class="allignCenter">
        <input [(ngModel)]="email1" matInput placeholder="Ingresa tu correo electronico" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="allignCenter">
        <input [(ngModel)]="password" matInput placeholder="Ingresa tu contraseña" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field >
      <div>
        <button mat-raised-button class="btn-social btn-access allignCenter" (click)="onLogin()">
          <span ></span>Ingresar</button>
      </div>

      <div class="center" >
        <button mat-mini-fab class="btn-social btn-facebook centerBtn" (click)="onLoginFacebook()">
          <span class="fa fa-facebook"></span></button>
        <button mat-mini-fab href="#" class="btn-social btn-google centerBtn" (click)="onLoginGoogle()">
          <span class="fa fa-google"></span></button>
      </div>
    </div>
  </mat-card>



</div>


